body{text-align: center;}
h1 {
	color: #00ff00; 
	background-color: #ff0000;}
	{font-family: Arial, sans-serif;}
h3 {font-size: 35;}
{font-style: italic;}	
p {color:#0000ff;
}
{font-family: "lucida console",monospace;}